{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlogcc {% endblock %}</h1>
    {% for post in posts %}
    <a href="#">
        <h2>{{ post['title']}}</h2>
    </a>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <hr>
    {% endfor %}
    {{ andresca }}
{% endblock %}
 
